body, .searchRow, th {
	background-color:#c6e7ff;
}
strong {
	color: powderblue;
}

div {
	align: center;
}

table{
	border-collapse:collapse;
}
td {
	padding-right:8px;
	padding-left:3px;
	text-align:left;
}
tr.hover {
	background: linear-gradient(#ffffee, #ffffff);
}
tr:nth-child(even) {
	background: linear-gradient(#ffeeff, #ccbbff);
}
tr:nth-child(odd) {
	background: linear-gradient(#ffffff, #eeeeee);
}

.searchRow {
	padding:2px; 
	margin-left:2px;
	margin-right:2px;
	border:none;
	vertical-align:center;
}
